<br><br>
<%= form_for @user do |f|%>
  <p>ユーザー名</p>
  <%= f.text_field :name%>
  <%= f.submit %>
<%end%>
<br><br>
<%= link_to 'ログアウトする', logout_path%>
<%= link_to 'アカウントを削除する', user_path(@user), method: :delete%>
<br><br>
<%= link_to '戻る', current_user%>
