<h1>This is show page!</h1>
<div >
  <% if session[:user_id] %>
    <div >user_id: <%= @user.id%> </div>
    <div >user_name: <%= @user.name%> </div>
    <div >user_email: <%= @user.email%> </div>
    <%= link_to 'ユーザー情報の編集', edit_user_path(@user)%>
  <% else %>
    <div >ログインしてください</div>
  <% end %>
</div>

<br><br>

<%= react_component("GroupsList", { groups: @user.groups }) %>


<br><br>

<br><br>
<%= link_to 'ログアウトする', logout_path%>

<div>
  <% Task.where(user_id: @user.id).each do |task|%>
    <%= link_to task.content, edit_task_path(task), method: :get %>
    <br>
  <% end %>
</div>

<br><br>


<div>
  <%= link_to 'グループを作成する', new_group_path %>
</div>


<br><br><br><br>
<h3>ランダムな数字を取得</h3>
<%= react_component("RandomNumber", url: "/api/v1/hello") %>

<br><br>
