<h1>This is show page!</h1>
<div >
  <% if session[:user_id] %>
    <div >user_id: <%= @user.id%> </div>
    <div >user_name: <%= @user.name%> </div>
    <div >user_email: <%= @user.email%> </div>
    <%= link_to 'ユーザー情報の編集', edit_user_path(@user)%>
  <% else %>
    <div >ログインしてください</div>
  <% end %>
</div>

<br><br>


<div>
  <% @user.groups.each do |group|%>
    <br>
    <%= link_to group.name, group_path(group)%>
  <% end %>
</div>

<br><br>

<div>
  <% Task.where(user_id: @user.id).each do |task|%>
    <%= link_to task.content, edit_task_path(task), method: :get %>
    <br>
  <% end %>
</div>

<br><br>

<div>
  <%= link_to 'タスクを作成する', new_task_path %>
</div>
<div>
  <%= link_to 'グループを作成する', new_group_path %>
</div>
