<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if @page_title.nil?%>
        <%= full_title() %>
      <% else %>
        <%= full_title(@page_title) %>
      <%end%>
    </title>
    <%= favicon_link_tag('tumiagejou_favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div id="content-wrapper">



      <%= yield %>

      <br><br><br><br><br><br><br><br>

    </div>

  </body>
</html>
