<!DOCTYPE html>
<html>
  <head>
    <title>ShareTask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="title">ShareTask</div>
    </header>


    <div id="error messages">
      <% flash.each do |message_type, message| %>
        <%= message %>
      <% end %>
    </div>


    <%= yield %>

    <br><br><br><br><br><br><br><br>

    <%= react_component("HelloWorld", { greeting: "こんにちは！" }) %>
    <%= react_component("hello_react",  name: "bob！" ) %>
  </body>
</html>
